<head>
  <title>abate:formbuilder</title>
</head>

<body>
  {{> main}}
</body>

<template name="main">
  <h1>FormBuilder {{id}}</h1>
  {{#if Template.subscriptionsReady}}
    {{> formBuilder formUid=formUid}}
    <!-- {{> formBuilderRender formUid=formUid}} -->
    <table>
      <tr>
        <td>
          <ul>
            {{#each form in forms}}
              <li><a href="#" data-action="form-edit" data-uid="{{form.name}}">{{form.name}}</a></li>
            {{/each}}
          </ul>
        </td>
        <td>
          <code>
            {{data}}
          </code>
        </td>
      </tr>
    </table>
  {{/if}}
</template>
